@charset "UTF-8";


div#container{
	width: 80%;
	margin-bottom: 100px;
}


/*
div#container > div > div#content{
	border:solid 1px red;
}
*/












body {
	background-color:#f6fafe !important;
}

.review {
	background-color: white;
	border: solid 0px red;
	margin-bottom: 10px;
	padding: 10px;
	
}








.sumarry{
	
	display: flex;
	align-items: center;
}
.img-container{
	border: solid 0px pink;
}
.option-container{
	border: solid 0px purple;
	margin-left: 50px;	
}
.option-container > h3{
	box-shadow: inset 0px -0.5em 0 0 rgba(204, 208, 240, 1);
	width: fit-content;
}
div.sumarry > button.toggleBtn{
	border: solid 2px  #6190BC;
	background-color: #6190BC;
	color:white;
	margin-left: auto;
	border-radius: 7px;
	
}
div.img-container{
	
	text-align: center;
}
div.img-container > img{
	width: 140px;
	height: 150px;
	margin-left: 10px;
}











.content{
	border: solid 1px lightgray;
	border-radius: 5px;
	padding: 15px;
	margin-top: 20px;
}
.bind{
	display: flex;
}
div.bind > h3{
	border: solid 0px pink;
	text-decoration: underline;

}
.btns{
	border: solid 0px blue;
	margin-left: auto;
}
.star{
	font-size: 17pt;
	color: #5c5959;
	font-weight: bold;
}
.date{
	font-size: 12pt;
	font-weight: normal;
}
.text{
	border: solid 0px blue;
	padding-top: 20px;
	font-size: 11pt;
}









.more{
	text-align: center;
	margin-top: 7%;
}
#btnMoreReview{
	width: 20%;
}







