@charset "UTF-8";

div#divRegisterFrm {
	text-align: center;
	margin-top: 100px;
}

table#tblRegister {
	width: 93%;
}

span.error, span#idcheckResult, span#emailCheckResult{
	font-size: small;
	color: red;
}

span#idcheckResult, span#emailCheckResult{
	font-weight: bold;
}

table#tblRegister th {
	height: 60px;
	font-size: 14pt;
	border-bottom: solid 1px black;
}

table#tblRegister td {
	line-height: 200%;
	padding: 1.2% 0;
}


table#tblRegister > tbody > tr > td:first-child {
	width: 20%;
	font-weight: bold;
	text-align: left;
}

table#tblRegister > tbody > tr > td:nth-child(2) {
	width: 80%;
	text-align: left;
}

span#idcheck, span#emailcheck, span#zipcodeSearch {
	cursor: pointer;
}

span#idcheck, span#emailcheck, span#zipcodeSearch {
	border: solid 1px gray;
	border-radius: 5px;
	font-size: 8pt;
	display: inline-block;
	width: 80px;
	height: 30px;
	text-align: center;
	margin-left: 10px;
	cursor: pointer;
}

div#Registeragree{
	position: relative;
	border: solid 1px gray !important;
}

table#tblRegister > tbody > tr > td > input{
	width: 70%;
}

table#tblRegister > tbody > tr > td > input[name='hp1']
,table#tblRegister > tbody > tr > td > input[name='hp2']
,table#tblRegister > tbody > tr > td > input[name='hp3']
,table#tblRegister > tbody > tr > td > input[name='postcode']{
	width: 21.5%;
}

table#tblRegister > tbody > tr > td > input[name='address']
,table#tblRegister > tbody > tr > td > input[name='detailaddress']
,table#tblRegister > tbody > tr > td > input[name='extraaddress']{
	width: 84%;
}

form[name='registerFrm'] > div:last-child > input:first-child{
	border: solid 2px #063460;
}

form[name='registerFrm'] > div:last-child > input:last-child{
	background-color: #81BEF7; 
	border: solid 2px #063460;
}

.bg-gender{
	background-color: #b3ffff !important; 
	border: solid 2px #063460 !important;
}

.yearselect{
   float: left;
   border : none;
   max-width: 65px;
   min-width: 65px;
}

.monthselect{
   float: right;
   border : none;
   max-width : 65px;
   min-width : 65px;
}