@charset "UTF-8";

div#loginLogo{
	margin-top: 120px;
	margin-bottom: 50px;
	padding: 0;
}

table#loginTbl {
	width: 450px;
	border: solid 1px gray; 
    border-collapse: collapse;
	margin: 200px auto;
	margin-top: 0;
}

table#loginTbl > thead > tr > th{
	background-color: #81BEF7;
	font-size: 14pt;
	text-align: center;
	height: 30px;
	border-bottom: solid 1px #063460 !important;
}

table#loginTbl > tbody > tr > td > input {
	border: solid 1px gray;
	line-height: 30px;
}

table#loginTbl > tbody > tr:first-child > td:first-child {
	width: 20%;
}

table#loginTbl > tbody > tr:first-child > td,
table#loginTbl > tbody > tr:nth-child(2) > td {
	padding: 10px;
}

table#loginTbl > tbody td {
	border: none;
}

table#loginTbl > tbody > tr:nth-child(3) > td {
	text-align: center;
}

table#loginTbl > tbody > tr:last-child > td {
	border-top: solid 1px gray;
	text-align: center;
	line-height: 50px;
}

table#loginTbl > tbody > tr:last-child > td > button{
	background-color: #81BEF7;
	border: solid 2px #063460;
}

div.modal-dialog > div.modal-content > div.modal-header > h4.modal-title{
	font-weight: bold;
}
