@charset "UTF-8";

ul > li > label{
	display: inline-block;
	width: 90px;
	font-weight: bold;
	text-align: center;
}

form[name='pwdFindFrm'] > div > button{
	background-color: #99ccff !important;
	font-weight: bold;
	border: solid 1px #063460;
}

div#div_findResult span{
	font-size:13pt;
	font-weight: bold;
}