@charset "UTF-8";

div#containerPwd {
	/* border: solid 1px red; */
  width: 80%;
  text-align: center;
  border: solid 0px blue;
  padding: 0 0 15% 0;
 
}

div#inputBox {
  border: solid 1px gray;
  border-radius: 3%;
  width: 60%;
  padding: 3% 0 5% 0;
  margin: 0 auto;
}

div.input-form-box {
	border: solid 0px blue;
	margin: 5% auto;
	width: 70%;
	text-align: left;
}

div.input-form-box > span {
	border: solid 0px orange;
	display: inline-block;
	color: #262626;
	width: 45%;
	text-align: left;
	margin-bottom: 3%;
	font-weight: bold;
}

input.form-control {
	border: solid 1px gray;
	font-size: 10pt;
	padding: 3.5%;
}


