@charset "UTF-8";

div.container.contents {
	border: solid 0px red;
	height: 1500px;
	margin-top: 10%;
}

#item_detail > div:nth-child(1){ /* 파인트 */
	font-weight: bold;
	font-size: 20pt;
}

.btn { /* 구매하기, 장바구니 버튼 */
	text-align: center;
	border: solid 1px #4198e8;
	background-color: #81BEF7;
	margin-top: 9%;
}

#item_detail > select {
	display: block;
	width: 100%;	
}

div#resulteach {
	display: block;
	
}
