@charset "UTF-8";

div.container > h4 {
	border: solid 1px red;
	width: 10%;
}

div.container {
	margin: 10% auto;
}

div.container > a {
	text-decoration: none !important; 
}

a.card {
	border: solid 1px blue;
	cursor: pointer;
	width: 15%;
}

div.card-body {
	color: black;
}

img.card-img-top {
	margin: 5% auto 0 auto;
	width: 70%;
	height: 60%;
}


.card:hover {
  transform: scale(1.2);
  -webkit-transform: scale(1.2); 
}