@charset "UTF-8";

div.container > h4 {
	border: solid 0px red;
	width: 20%;
	font-weight: bold;
	font-size: 23pt;
	color: rgb(89, 200, 236);
}

div.container {
	margin: 10% auto;
}

div.card {
	/* cursor: pointer; */
	width: 20%;
}

img.card-img-top {
	margin: 5% auto 0 auto;
	width: 70%;
	height: 60%;
}


/* .card:hover {
  transform: scale(1.2);
  -webkit-transform: scale(1.2); 
} */