@charset "UTF-8";

nav.navbar{
	background-color: transparent;
}

div.collapse > div.text-end > button:last-child{
	font-weight: bold;
}

nav#nav_top:hover {
	
	background-color: #99ebff;
	span.color-first {
		color: white;
	}
	
	button.button {
	background-color: #e6f2ff;
	}
}

nav {
	font-weight: bolder;
}

