@charset "UTF-8";

div#container{
	width: 80%;
	margin-top: 100px;
}

div#container > div > div#sidebardiv{
	/* border:solid 1px blue; */
	text-align:center;
/* 	position: fixed;
	left:8%;
	top:15%;
 */}

div#sidebar{
	border-radius: 10px 10px;
	margin-left:30%;
}

div#sidebar > div#mypage{
	background-color:#ccf2ff;
	border: solid 2px  #6190BC;
	border-radius: 10px 10px 0px 0px;
}

div#sidebar > div#mypage > div{
	background-color:#ccf2ff;
	vertical-align:center;
	font-weight:bold;
	margin: 10% auto;
}

div#sidebar > div#mypageContents{
	border: solid 2px  #6190BC;
	border-radius: 0px 0px 10px 10px;
}

div#sidebar > div#mypageContents > div.mypageTopmanage{
	background-color:#ccf2ff;
	border-radius: 10px 10px;
	font-weight: bold;
	width:80%;
	margin: 0 auto;
	font-size: 1em;
}

div#sidebar > div#mypageContents > a.mypagelink{
	color:black;
	text-decoration: none;
	font-size: 0.7em;
	display: block;
}
/*
div#container > div > div#content{
	border:solid 1px red;
}
*/