@charset "UTF-8";


body {
	background-color:#f6fafe !important;
	
}

div.container {
	border: solid 0px blue;
	width: 80%;
	
}

.col-md-3 {
	text-align: center;
}

.hoverBorder{
	position: relative;
	background-color: white;
	border-radius: 20%;
	text-align: center;
	width: 100%;
	height:200px;
	overflow: hidden;
}


div.container > div#header{
	margin-bottom: 130px;
	color: #8585b6;
}

.page-header__title{
	text-decoration: underline;
}


body div.align{
	margin-bottom: 40px;
}


img.menu-list__image{
	width:200px;
	height:200px;
	
}

.text-center{
	font-weight: bold;
}
/*-----------------호버--------------------------------*/
.menu-list__hash {/*-------글자 호버------*/
	border: solid 0px red;
    position: absolute;
    top: 30px;
    left: 0; 
    z-index: 10;
	width: 100%; 
    color: #000;
    font-weight: var(--font-weight-sd-bold);
    font-size: 15px;
    text-align: center;
    opacity: 0;    
    font-weight: bold;
}
.col-md-3:hover  .menu-list__hash {
	opacity: 1;
	transform: translateY(10px);
	transition-property: all;
	transition-duration: 0.5s;
	transition-delay: 0s;
	transition: 1s ease;
	text-align: center;
	color: #8585b6;
	
}



.col-md-3:hover  .hoverBorder {/*-------배경호버------*/
    background: #f8f1f2;
    transition: background .3s ease;
}

.col-md-3:hover .menu-list__image {/*-------이미지호버------*/
	transform: translateY(80px);
	transition-property: all;
	transition-duration: 0.5s;
	transition-delay: 0s;
	position: relative;
	
}
/*-------------------------------------------------*/





div.container  div.pn{
	border: solid 0px red;
	margin-top: 250px;
	margin-bottom: 100px;
	display: flex;
    justify-content: center;
	
	
}



.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
}

.pagination a.active {
  background-color: #8585b6;
  color: white;
}

.pagination a:hover:not(.active) {background-color: #ddd;}

.btnMore {
	width: 15%;
}



