@charset "UTF-8";


body {
	background-color:#f6fafe !important;
	margin-top: 30%;
}

div.container {
	border: solid 0px blue;
	width: 100%;
	margin-top: 250px;
	
}

.hoverBorder{
	border-radius: 20%;
}


.menu-list__image {
        transition: transform 0.3s; /* 호버 시 이미지 변환 효과를 위한 transition */
}

.col-md-3:hover .menu-list__image {
    transform: scale(1.1); /* 호버 시 이미지 확대 */
}

.col-md-3:hover .menu-list__hash {
    color: pink; /* 호버 시 텍스트 색상 변경 */
}


div.container > h2{
	margin-bottom: 150px;
	color: #8585b6;
}


body div.align{
	margin-bottom: 50px;
}


img {
	width:200px;
	height:200px;
	
}



div.container  div.pn{
	border: solid 0px red;
	margin-top: 250px;
	margin-bottom: 100px;
	display: flex;
    justify-content: center;
	
	
}



.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
}

.pagination a.active {
  background-color: #8585b6;
  color: white;
}

.pagination a:hover:not(.active) {background-color: #ddd;}

